<main class="chatContainer">
  <div class="hero">
    <a href="/" class="backBtn">
      <img src="https://cdn-icons-png.flaticon.com/512/62/62069.png" alt="Flèche de retour vers l'accueil">
      Retourner à l'accueil
    </a>
  </div>

  <h1>Bienvenue sur la discussion</h1>

  <!-- Modale de demande de connexion -->
  <div *ngIf="showLoginModal" class="modal">
    <div class="modalContent">
      <h2>Connexion</h2>
      <div class="inputsAuth">
        <input type="email" [(ngModel)]="email" placeholder="Email" required />
        <input type="password" [(ngModel)]="password" placeholder="Mot de passe" required />
      </div>
      <button (click)="login()">Se connecter</button>

      <!-- Affiche le message d'erreur si errorMessage est défini -->
      <p class="errorMessage" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
  </div>

  <!-- Contenu du chat -->
  <div *ngIf="!showLoginModal">
    <app-message-list [messages]="messages" [currentUser]="username"></app-message-list>
    <app-message-input (messageSent)="onMessageSent($event)"></app-message-input>
  </div>

  <footer>
    <p class="userName">Connecté en tant que : <span>{{ username }}</span></p>
  </footer>
</main>
