<main class="homeContainer">
    <section class="heroSection">
        <h1>Your Car Your Way</h1>
        <p>PoC de la fonctionnalité de live chat.</p>
        <a routerLink="/chat" class="ctaBtn">Rejoindre la discussion</a>
    </section>

    <section class="arguments">
        <h2>Explorez nos fonctionnalités</h2>
        <div class="card">
            <img src="https://static.vecteezy.com/system/resources/previews/010/063/498/original/live-chat-icons-3d-render-png.png" alt="Icône du service">
            <h3>Discussion en temps réel</h3>
            <p>Un système d'échange de message en temps réel et fluide.</p>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/5278/5278681.png" alt="Icône du service">
            <h3>Disponible et accessible</h3>
            <p>Peu importe d'où vous êtes, discutez avec qui vous voulez.</p>
        </div>
        <div class="card">
            <img src="https://cdn-icons-png.flaticon.com/512/4157/4157277.png" alt="Icône du service">
            <h3>Bêta-testeur</h3>
            <p>Soyez les premiers utilisateurs d'une future grande application.</p>
        </div>
    </section>

    <section class="testimonialSection">
        <h2>Témoignages</h2>
        <div class="testimonial">
            <p>"Une première version vraiment agréable pour Your Car Your Way, un vrai plaisir !"</p>
            <cite>- Un client heureux</cite>
        </div>
    </section>

    <section class="cta">
        <h2>Prêt à commencer?</h2>
        <a routerLink="/chat" class="ctaBtn">Rejoindre la discussion</a>
    </section>
</main>
